<h1>User info</h1>
  <div>
    <p><%= image_tag @user.get_profile_image(100,100) %></p>
    <p>name：<%= @user.name %></p>
    <p>introduction :<%= link_to "User info", edit_user_path(@user.id) %></p>
  </div>

<h1>New Book</h1>
  <%= form_with model: @book do |f| %>
  <h4>タイトル</h4>
    <%= f.text_field :title %>
  <h4>感想</h4>
    <%= f.text_area :body %>
    <%= f.submit'Create Book' %>
  <% end %>
  
<% @books.each do |book| %>
<div>
  <p>投稿ユーザー画像：<%= image_tag book.user.get_profile_image(100,100) %></p>
  <p>本のタイトル：<%= link_to book.title, book_path(book.id) %></p>
  <p>感想：<%= book.body %></p>
  <p>ユーザーネーム：<%= book.user.name %></p>
</div>
<% end %>